/* displays loader before map is fully loaded */
#map-canvas {
  background: white url(http://google-web-toolkit.googlecode.com/svn-history/r8457/trunk/user/src/com/google/gwt/cell/client/loading.gif) no-repeat 50% 50%;
}

/* override jquery list to desired style */
.ui-li-has-thumb .ui-btn-inner {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

/* override text so it does not overflow */
.ui-li-desc {
	overflow:show;
	text-overflow:clip;
	white-space:normal;
	height:28px;
	margin-bottom:0px;
}

.headerbutton {
    position: relative;
    top:100px;
}
