<!DOCTYPE html>
<html class="ui-mobile-rendering">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.2.0.css"/>
    <link rel="stylesheet" href="css/jqm-datebox.css"/>

    <!-- The Templates -->

    <!-- login template -->
    <script type="text/template" id="login">
      <!-- Header -->
      <div data-role="header" data-theme="a">
        <h1>Existing User</h1>
      </div>
      <!-- Content -->
      <center>
        <div data-role="content" data-theme="c" style="margin-bottom:100px;">
          <form class="login-form">
            <h2>Log In</h2>
            <div class="error" style="display:none"></div>
            <input type="text" id="login-username" placeholder="Username"/>
            <input type="password" id="login-password" placeholder="Password"/>
            <button>Log In</button>
          </form>
          <a
            href="#/sign_up".
            data-role="button"
            data-transition="pop"
            data-theme="a"
            data-inline="true"
            data-icon="grid">
            Sign up!
          </a>
        </div>
      </center>
    </script>
    
    <!-- sign up template -->
    <script type="text/template" id="signup">
      <!-- Header -->
      <div data-role="header" data-theme="a">
        <h1>New User</h1>
      </div>
      <!-- Content -->
      <center>
        <div data-role="content" data-theme="c" style="margin-bottom:100px;">
          <form class="signup-form">
            <h2>Sign Up</h2>
            <div class="error" style="display:none"></div>
            <input type="text" id="signup-username" placeholder="Username"/>
            <input
            type="password"
            id="signup-password"
            placeholder="Create a Password"/>
            <button>Sign Up</button>
          </form>
        </div>
      </center>
    </script>

	<!-- entity info view -->
    <script type="text/template" id="entity_info_view">
      <!-- Header -->
      <div data-role="header" data-theme="a">
        <h1><%=name %>Info</h1>
    </script>
	
	
    <!-- layers page-->
    <script type="text/template" id="layers">
      <div data-role="header" data-theme="c">
        <h1>Select Layer(s)</h1>

        <!-- navbar for select all select none-->
        <div data-role="navbar" data-iconpos="right">
          <ul>
            <li>
            <a
              data-role="button"
              data-theme="a"
              id="select-all-button" >
              Select All
            </a>
            </li>
            <li>
            <a
              data-role="button"
              data-theme="a"
              id="select-none-button">
              Select None
            </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Content -->
      <center>
        <div data-role="content" data-theme="c" style="margin-bottom:100px;">
          <div id="layer-filter-fieldcontain" data-role="fieldcontain">
            <!-- layer selector checkbox -->
            <fieldset id="testt" data-role="controlgroup">
              <% _.each(layers, function(layer) { %>
                <label>
                  <input
                  type="checkbox"
                  id="<%= layer.layerName %>"/>
                  <%= layer.layerName %>
                </label>
                <% }); %>
            </fieldset>
          </div>
          <p>
          <a
            href="#/layers-marker"
            id="confirm-layers-button"
            data-rel="back"
            data-role="button"
            data-theme="a">
            Confim Layers
          </a>
          </p>
        </div>
        <div data-role="navbar" data-theme="a" data-iconpos="right">
          <ul>
            <li>
            <a
              data-role="button"
              data-transition="flip"
              href="#"
              data-theme="a">
              Go back
            </a>
            </li>
          </ul>
        </div>
      </center>
    </script>


    <!-- map page-->
    <script type="text/template" id="mappage">
      <!-- Header -->
      <div id="header" data-role="header" data-theme="a">
        <h1>Welcome, <%= user %>!</h1>
        <a href="#/logout" data-role="button" class="ui-btn-right" data-theme="a">
          Sign out
        </a>
      </div>
      <!-- map -->
      <div id="map-canvas" data-role="content">
      </div>
      <!-- footer div -->
      <div id="footer" data-role="navbar" data-iconpos="bottom" data-theme="a">
        <ul>
          <li>
          <!-- Settings -->
          <a
            href="#/settings".
            data-rel="dialog"
            data-transition="pop"
            data-theme="a"
            data-icon="grid">
            Settings
          </a>
          </li>
          <li>
          <!-- View Layers Button -->
          <a
            href="#/layers".
            data-rel="dialog"
            data-transition="pop"
            data-theme="a"
            data-icon="grid">
            Layers
          </a>
          </li>
          <li>
          <!-- Place a marker on the map Button -->
          <a
            href="#/add_entity"
            id="add-entity-button"
            data-rel="dialog"
            data-transition="pop"
            data-icon="plus"
            data-theme="a">
            New...
          </a>
          </li>
        </ul>
      </div>
    </script>

    <!-- Add entity template -->
    <script type="text/template" id="addentity">
      <!-- header -->
      <div data-role="header" data-theme="c">
        <h1>Add new entity</h1>
      </div>
      <!-- content -->
      <div data-role="content" data-theme="c">
        <form class="add-entity-form" action="">
          <!-- marker name -->
          <label for="basic">Name of marker:</label>
          <input type="text" name="marker-name" id="marker-name" value="" />
          <!-- drop down for layer -->
          <center>
            <div data-role="fieldcontain">
              <select id="layer-select" data-native-menu="false" >
                <option>Select a layer below</option>
                <option selected="selected" value="Person">Person</option>
                <option value="Landmark">Landmark</option>
              </select>
            </div>
            <!-- time select -->
            <div data-role="fieldcontain" data-theme="c" data-content-theme="d">
              <label>
                Choose Time
                <input
                id="time"
                type="text"
                data-role="datebox"
                data-options='{"mode":"timeflipbox", "useNewStyle":true}' />
              </label>
            </div>
          </center>
          <!-- checkbox to enable geolocaiton -->
          <center>
            <label>
              <input type="checkbox" name="use-position" data-inline="true" />
              Use my current position
            </label>
          </center>
          <!-- Save marker -->
          <button>Place marker</button>
        </form>
      </div>
    </script>

    <!-- settings template -->
    <script type="text/template" id="settings">
      <!-- Header -->
      <div data-role="header" data-theme="a">
        <h1>Settings</h1>
      </div>
      <!-- Content -->
      <center>
        <div data-role="content" style="padding: 15px">
          <!-- Geolocation Toggle -->
          <label for="flip-1">Allow Geolocation</label>
          <select name="flip-1" id="flip-1" data-role="slider">
            <option value="off">Off</option>
            <option value="on">On</option>
          </select>

          <!-- Radius Slider -->
          <label for="radius-slider">Search Radius (in miles):</label>
          <input
          type="range"
          name="radius-slider"
          id="radius-slider"
          value="1"
          min="0"
          max="10"
          data-highlight="true"/>

          <!-- Checkbox -->
          <div id="settings-fieldcontain" data-role="fieldcontain">
            <fieldset  data-role="controlgroup">
              <% _.each(checkboxNames, function(checkboxName) { %>
                <label>
                  <input
                  type="checkbox"
                  id="<%= checkboxName %>"/>
                  <%= checkboxName %>
                </label>
                <% }); %>
            </fieldset>
          </div>

        </div>

        <!-- navigation bar to go back-->
        <div data-role="navbar" data-theme="a" data-iconpos="right">
          <ul>
            <li>
            <a
              data-role="button"
              data-transition="flip"
              href="#"
              data-theme="a">
              Go back
            </a>
            <a
              data-role="button"
              id="save-settings-button"
              data-theme="a"
              data-icon="check">
              Save Settings
            </a>
            </li>
          </ul>
        </div>
      </center>
    </script>

    <!-- The Scripts -->
    <script src="lib/jquery-1.8.1.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.2.0.js"></script>
    <script src="lib/jquery.livequery.js"></script>
    <script src="lib/jqm-datebox.core.js"></script>
    <script src="lib/jqm-datebox.mode.flipbox.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/parse-1.1.5.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <!-- <script src="lib/googlemaps.js"></script> -->
    <script src="lib/infobubble.js"</script>
    <script src="lib/infobubble-compiled.js"</script>
    <script src="lib/markerwithlabel.js"></script>
    <script src="js/models.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body></body>

</html>
