<!-- header -->
<div data-role='header' data-theme='c'>
  <h1>Add to minimapp</h1>
</div>
<!-- content -->
<div style='text-align:center' data-role='content' data-theme='c'>
  <form class='add-entity-form' action=''>
    <!-- marker name -->
    <label for='basic'> What would you like to add? </label>
    <input type='text' name='marker-name' id='marker-name' value='' />
    <!-- drop down for layer -->
    <div data-role='fieldcontain'>
      <select id='layer-select' data-native-menu='false' >
        <option>Select a layer below</option>
        <option selected='selected' value='Tip'>Tip</option>
        <option value='Event'>Event</option>
      </select>
    </div>
    <label>Choose a Time (Leave empty for defaults) </label>
    <!-- time select -->
    <div data-role='fieldcontain' data-theme='c' data-content-theme='d'>
      Start:<br />
      <input
      name='startDate'
      id='startDate'
      type='text'
      data-role='datebox'
      placeholder='{{ defaultStartDate }}'
      data-options='{"mode":"flipbox", "useNewStyle":true}'/>
      <input
      name='startTime'
      id='startTime'
      type='text'
      data-role='datebox'
      placeholder='{{ defaultStartTime }}'
      data-options='{"mode":"timeflipbox", "useNewStyle":true}'/><br />
      <br />End:<br />
      <input
      name='endDate'
      id='endDate'
      type='text'
      data-role='datebox'
      placeholder='{{ defaultEndDate }}'
      data-options='{"mode":"flipbox", "useNewStyle":true}'/>
      <input
      name='endTime'
      id='endTime'
      type='text'
      data-role='datebox'
      placeholder='{{ defaultEndTime }}'
      data-options='{"mode":"timeflipbox", "useNewStyle":true}'/>
    </div>
    <label>Short Description (optional) :</label>
    <textarea name='textarea' id='textarea'></textarea>
    <!-- checkbox to enable geolocaiton -->
    <label>
      <input type='checkbox' name='use-position' data-inline='true' />
      Use my current position
    </label>
    <!-- Save marker -->
    <button>Place marker</button>
    <!-- Back to map -->
    <a
      data-role='button'
      href='#'
      data-theme='a'>
      Go back
    </a>
  </form>
</div>
