<!-- Header -->
<div data-theme='a' data-role='header'></div>
<!-- Content -->
<div style='text-align:center' data-role='content'>
  <h1> {{name}} </h1>
  <h3> {{layerNameSingular}}</h3>
  <h5> {{ownerUsername}}</h5>
  <!-- image -->
  <img src= {{markerMapUri}} >
  <!-- Basic Information -->
  <div class='ui-grid-b'>
    <div class='ui-block-a'>
      <h3> {{popularity}} stars </h3>
    </div>
    <div class='ui-block-b'>
      <h3> Start time: {{time}} </h3>
    </div>
    <div class='ui-block-c'>
      <h3> End time: {{endtime}} </h3>
    </div>
    <div class="ui-block-d">
    </div>
    <div class="ui-block-e">
      <a
        id='remove-element-button'
        data-role='button'
        href='#'
        style="display:none">
        Remove
      </a>
    </div>
  </div>
  <!-- Description of Event -->
  <p> {{text}} </p>
</div>
<!-- Footer -->
<div id='footer' data-role='navbar' data-iconpos='bottom' data-theme='a'>
  <ul>
    <li>
    <!-- Back to map -->
    <a
      data-role='button'
      data-transition='flip'
      href='#'
      data-theme='a'>
      Go back
    </a>
    </li>
    <li>
    <!-- Subscribe -->
    <a
      class='subscribe_entity'
      data-rel='back'
      data-theme='a'
      data-icon='star'>
      Star this!
    </a>
    </li>
  </ul>
</div>
