<!-- Header -->
<div data-role='header' data-theme='a'>
  <h1>Explore</h1>
</div>
<!-- Content -->
<div style='text-align:center' style="text-align:center" data-role='content' style='padding: 15px'>
  <!-- navigation bar -->
  <div data-role='navbar' data-theme='a' data-iconpos='right'>
    <ul>
        <li><a>filter options...</a></li>
		<li><a>Subscribed Events</a></li>
	</ul>
  </div>
  <h2> Nearest happenings </h2>
  <!-- entity list -->
  <ul id='entity-list' data-role='listview' data-split-icon='star' data-split-theme='a'>
    <div style='text-align:center'>    
      <img src='images/ajax-loader.gif' class='spinner' />
    </div>
  </ul>
  <!-- Back button -->  
  <a
    data-role='button'
    href='#'
    data-theme='a'>
    Go back
  </a>
</div>