<!-- Header -->
<div data-role='header' data-theme='a'>
  <h1>Existing User</h1>
</div>
<!-- Content -->
<div
  style='text-align:center'
  data-role='content'
  data-theme='c'
  style='margin-bottom:100px;'>
  <img src='images/minimapplogo.png' size="400px"></a>
  <form class='login-form'>
    <h2>Log In</h2>
    <div class='error' style='display:none'></div>
    <input type='text' id='login-username' placeholder='Username'/>
    <input type='password' id='login-password' placeholder='Password'/>
    <button>Log In</button>
  </form>
  <a
    data-role='button'
    class="guestSignIn"
    data-theme='a'
    data-inline='true'
    data-icon='grid'>
    Guest sign in
  </a>
  <a
    data-role='button'
    href='#/sign_up'
    data-theme='a'
    data-inline='true'
    data-icon='grid'>
    Sign up!
  </a>
</div>

