<!-- Header -->
<div id='header' data-role='header' data-theme='a'>
  <div style='text-align: center'>
    <img src='images/minimapplogo.png' height="50px"></a>
  </div>
  <a href='#/logout' data-role='button' class='ui-btn-right' data-theme='a'>
    Sign out
  </a>
  <a
      href='#/settings'
      data-theme='a'
      class='ui-btn-left'
      data-icon='gear'>
      Settings
    </a>
</div>
<!-- map -->
<div id='map-canvas' data-role='content'>
</div>
<!-- footer div -->
<div id='footer' data-role='navbar' data-iconpos='bottom' data-theme='a'>
  <ul>
    <li>
    <!-- Settings -->
    <a
      href='#/explore'
      data-theme='a'
      data-icon='star'>
      Tips near me
    </a>
    </li>
    <li>
    <!-- View Layers Button -->
    <a
      href='#/layers'
      data-theme='a'
      data-icon='grid'>
      Layers
    </a>
    </li>
    <li>
    <!-- Place a marker on the map Button -->
    <a
      href='#/add_entity'
      id='add-entity-button'
      data-icon='plus'
      data-theme='a'>
      New...
    </a>
    </li>
  </ul>
</div>

