<!-- Header -->
<div data-role='header' data-theme='a'>
  <h1>New User</h1>
</div>
<!-- Content -->
<div
  style='text-align:center'
  data-role='content'
  data-theme='c'
  style='margin-bottom:100px;'>
  <form class='signup-form'>
    <h2>Sign Up</h2>
    <div class='error' style='display:none'></div>
    <input type='text' id='signup-username' placeholder='Username'/>
    <input
    type='password'
    id='signup-password'
    placeholder='Create a Password'/>
    <button>Sign Up</button>
  </form>
  <!-- Back to map -->
  <a
    data-role='button'
    data-transition='pop'
    data-icon='delete'
    href='#'
    data-inline='true'
    data-theme='a'>
    Go back
  </a>
</div>
